/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#gameBoard{
  height:700px;
  width:700px;
  /*margin:auto;*/
  margin:auto;
  margin-top:5rem;
  margin-bottom:5rem;
  font-size: 1rem;
}
.space {
  font-size: 1rem;
}
.row{
  height:20%;
}
.place {
  width:19.2%;
  height:98%;
  float:left;
  border: 2px solid #E1E1E1;
  border-radius: 5px;
  margin:auto;
  text-align:center;
  line-height:10rem;
  font-size: 10rem;
}

.fog_of_war {
  background-color: rgba(133, 133, 133, 0.4);
}

.scouted {
  background-color: white !important;
}
.battle_block {
  height: 200px;
  clear:both;

}
.stat_block {
  border: 0.1rem solid black;
  border-radius: 1rem;
  background-color: rgba(133, 133, 133, 0.2);
  padding: 2rem;
  width:25%;
  height: 99%;
  float:left;
}
.space_block {
  margin: auto;
  margin-top: 200px;
  text-align: center;
  border: 0.1rem solid black;
  border-radius: 1rem;
  background-color: rgba(133, 133, 133, 0.2);
  padding: 2rem;
  width: 50%;

}
